<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список профессий</title>
</head>
<body>
    <h1>Привет, Миссия Колонизация Марса!</h1>
    <h4>И на Марсе будут яблони цвести!</h4>
     {% if p == 'ol' %}
            <div>Список профессий</div>
            <ol>
                <li>Инженер-исследователь</li>
                <li>Пилот драконов</li>
                <li>Водитель марсохода</li>
                <li>Садовник</li>
                <li>Врач</li>
                <li>Инженер-строитель</li>
                <li>Гляциолог</li>
                <li>Астрогеолог</li>
                <li>Специалист по радиационной безопасности</li>
                <li>Метеоролог</li>
                <li>Гляциолог</li>
                <li>Связист</li>
                <li>Инженер жизнеобеспечения</li>
            </ol>
     {% elif p == 'ul' %}
            <div>Список профессий</div>
            <ul>
                <li>Инженер-исследователь</li>
                <li>Пилот драконов</li>
                <li>Водитель марсохода</li>
                <li>Садовник</li>
                <li>Врач</li>
                <li>Инженер-строитель</li>
                <li>Гляциолог</li>
                <li>Астрогеолог</li>
                <li>Специалист по радиационной безопасности</li>
                <li>Метеоролог</li>
                <li>Гляциолог</li>
                <li>Связист</li>
                <li>Инженер жизнеобеспечения</li>
            </ul>
     {% else %}
            <div>Request Error</div>
     {% endif %}
</body>
</html>